Flask
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
/Users/you/en_core_web_sm-2.2.0.tar.gz
beautifulsoup4
pyLDAvis
en_core_web_sm
apiclient
pandas
pprint
afinn
matplotlib 
numpy

nltk
