pyodbc
Flask
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
vaderSentiment
beautifulsoup4
pyLDAvis
apiclient
pandas
pprint
google-api-python-client
afinn
matplotlib 
numpy
oauth2client
nltk
